* {
	box-sizing: border-box;

}

body {
	background-color:white;
}

.header {
  display: flex;
  align-items: flex-end;
}
nav {

  width: 100%;
  height: 100px;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 1px 1px 4px #000;
}
nav a {
  color: black;
  text-decoration: none;
  padding: 35px;
  height: 100px;
}

/*nav a:first-child {
  margin-right: auto;
}
nav a :hover {
  text-decoration: none;
}*/



img {
	max-width: 100%;
}

.header {
	padding: 100px;
	background-image: url(large/hvidvin.jpg);
	max-height: 100%;
	background-repeat: no-repeat;
	font-size: 50px;
	text-align: center;
	color: aliceblue;
	font-family: 'Julius Sans One', sans-serif;

}

.navbar {
	padding: 10px;
	font-size: 20px;
	background-color: rgba(200, 200, 50, 0.8);
	text-align: right;
	text-decoration: none;
	display: flex;

}

a {
	display: inline-block;

}
/*texto navbar
.manzana2 {
	float: right;
	text-align: center;
	overflow: hidden;
	text-decoration: none;
	align-content: flex-end;
	color: white;


}

a {
	display: inline-block;

}

.manzana2:hover {
	background-color: black;

}*/


main > section {
	padding: 15px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
	grid-gap: 30px;
}


h2 {
	background-color: white;
	grid-column: 1 / -1;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 20px;

}


.product_image {

	border-radius: 0px;

}

/*VEGETARIAN */
.hidden {
	display: none;

}

.vegetarian {
	width: 50px;
	float: right;

}

.soldout {
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: rgba(200, 200, 50, 0.8);
	font-size: 30px;
	color: black;


}

.prices> * {
	margin: 0px;
}

/*.data_discount{
	background: rgba(200,200,50,0.8);
}*/

.new-price {
	background: rgba(200, 200, 50, 0.8);
	padding: 1px;
	font-size: 20px;
	text-align: center;

}

.old-price {
	font-size: 20px;
	text-align: center;
	text-decoration: line-through;
	color: grey;
	margin: 0px;
}

.productbody {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.productbody_button {

	background-color: grey;
	color: whitesmoke;
	border: 0;
	padding: 2px;
	font-size: 15px;
	cursor: pointer;
	position: relative;
	margin-top: 1px;



}


article {
	background-color: white;
	border-radius: 5px;
	box-shadow: 10px 10px 78px -1px rgba(0, 0, 0, 0.25);
	position: relative;
	padding: 15px;
	display: flex;
	flex-direction: column;
}


.content {
	padding: 50px;
}

/*The Modal long description menu*/

.hide {
	display: none;
}

.modal-background {
	position: fixed;
	z-index: 10;
	left: 0px;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
	background-color: #fefefe;
	border: 1px black;
	margin: 18em;
	padding: 2em;
}
